{{- $email := promptStringOnce . "email" "Git email address" -}}
{{- $name := promptStringOnce . "name" "Git full name" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}

[onepassword]
    command = "op"
