# chezmoi:template
tap "clementtsang/bottom"
tap "cloudflare/cloudflare"
tap "derailed/popeye"
tap "hashicorp/tap"
tap "hidetatz/tap"
tap "jjuarez/tap-1"
tap "johanhaleby/kubetail"
tap "kubecolor/tap"
tap "oven-sh/bun"
tap "rs/tap"
tap "turbot/tap"
tap "zippoxer/tap"
brew "chezmoi"
brew "atuin"
brew "antigen"
brew "argocd"
brew "asdf"
brew "zstd"
brew "autojump"
brew "aws-es-proxy"
brew "awscli"
brew "libssh2"
brew "bat"
brew "bottom"
brew "brew-gem"
brew "broot"
brew "cloud-sql-proxy"
brew "cloudflared"
brew "ctags"
brew "duf"
brew "dust"
brew "eza"
brew "fd"
brew "ffmpeg"
brew "fzf"
brew "forgit"
brew "node"
brew "gemini-cli"
brew "gh"
brew "git"
brew "git-delta"
brew "git-gui"
brew "glow"
brew "go"
brew "gping"
brew "grep"
brew "grpcurl"
brew "helm"
brew "istioctl"
brew "jinja2-cli"
brew "libtiff"
brew "little-cms2"
brew "jpeg-xl"
brew "jq"
brew "k9s"
brew "krb5"
brew "kubernetes-cli"
brew "krew"
brew "kube-ps1"
brew "kubectx"
brew "lazydocker"
brew "lazygit"
brew "openjpeg"
brew "webp"
brew "leptonica"
brew "libarchive"
brew "libfido2"
brew "linkerd"
brew "lsd"
brew "masscan"
brew "mosh"
brew "mysql"
brew "neovim"
brew "nghttp2"
brew "nmap"
brew "opencode"
brew "openfortivpn"
brew "proj"
brew "osm2pgsql"
brew "perl"
brew "poetry"
brew "poppler"
brew "postgresql@14"
brew "pyenv"
brew "python@3.10"
brew "python@3.11"
brew "python@3.9"
brew "redis"
brew "ripgrep"
brew "rust"
brew "scrcpy"
brew "shellcheck"
brew "shfmt"
brew "sshpass"
brew "stern"
brew "tailscale"
brew "tealdeer"
brew "terragrunt", link: false
brew "tesseract"
brew "tfenv", link: false
brew "tgenv"
brew "thefuck"
brew "tmux"
brew "tree"
brew "unixodbc"
brew "vim"
brew "virtualenv", link: false
brew "watch"
brew "wget"
brew "yq"
brew "zoxide"
brew "zsh"
brew "derailed/popeye/popeye"
brew "hashicorp/tap/packer"
brew "hashicorp/tap/terraform"
brew "hashicorp/tap/terraform-ls"
brew "hashicorp/tap/vault"
brew "johanhaleby/kubetail/kubetail"
brew "kubecolor/tap/kubecolor"
brew "oven-sh/bun/bun"
brew "rs/tap/curlie"
brew "turbot/tap/steampipe"
brew "zippoxer/tap/recall"
{{ if eq .chezmoi.os "darwin" -}}
tap "lencx/chatgpt", "https://github.com/lencx/ChatGPT.git"
tap "ender-wang/tap"
tap "erickochen/purple"
tap "sw33tlie/macshot"
brew "erickochen/purple/purple"
brew "chrome-cli"
brew "telnet"
cask "1password-cli"
cask "android-platform-tools"
cask "aws-vault-binary"
cask "brewlet"
cask "chatgpt"
cask "raycast"
cask "chromedriver"
cask "docker-desktop"
cask "font-d2coding-nerd-font"
cask "font-hack-nerd-font"
cask "font-maple-mono-nf"
cask "gcloud-cli"
cask "ghostty"
cask "github"
cask "ngrok"
cask "only-switch"
cask "stats"
cask "swiftbar"
cask "edgemark"
cask "macshot"
cask "thaw"
go "github.com/korotovsky/slack-mcp-server/cmd/slack-mcp-server"
{{- end }}
